.Building {
  width: calc(90vh/17);
  height: calc(90vh/17);

  border: solid black 1px;
  background-color: lightgreen;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-width: 65%;
    display: block;
    margin: auto;
    // max-height: 75%;
  }
}